html, body{
    background-color: black;
    cursor: url('../cursor/cursor1.png') 0 0, auto;
}
.div{
    display: block;
}
.titulo{
    color: white;
    text-align: center;
    margin-top: 20vw;
    font-family: 'Rubik', sans-serif;

}
.h12{
    color: #4169E1;
}
.perfil{
    background-image: url(../img/joelson1.png);
    width: 15vw; /* Ajuste o tamanho da imagem conforme necessário */
    height:15vw; /* Ajuste o tamanho da imagem conforme necessário */
    border-radius: 50%; /* Torna a imagem redonda */
    background-size: cover;
    overflow: hidden;
    background-position: center;
    top: 20px; /* Define a distância do topo */
    right: 20px;
    position: fixed;
    transition: width 0.3s;
    transition: height 0.3s;
   
    
  }
  .perfil:hover{
    background-image: url(../img/joelson1.png);
    width: 18vw; /* Ajuste o tamanho da imagem conforme necessário */
    height: 18vw; /* Ajuste o tamanho da imagem conforme necessário */
    border-radius: 50%; /* Torna a imagem redonda */
    background-size: cover;
    overflow: hidden;
    background-position: center;
    top: 15px; /* Define a distância do topo */
    right: 15px;
    position: fixed;
  }
  h2{
    color: white;
    font-family: 'Rubik', sans-serif;
    text-align: justify;
    margin-left: 5vw;
    margin-right: 15vw;
  }
  .textdescr{
    margin-top: 30vw;
    
    margin-bottom: 20vw;
  }
  a{
    text-decoration: none;
    display: flex;
  }
  .github{
    background-image: url(./github.png);
    background-size: cover;
    height: 5vw;
    width: 5vw;
    margin-left: 15vw;
    font-size: 2vw;
    margin-right: 100px;
  }
  .linkedin{
    background-image: url(./linkedin.png);
    background-size: cover;
    height: 3.5vw;
    width: 3.5vw;
    margin-left: 15vw;
    font-size: 2vw;
  }
  .links{
    display: flex;
    height: 10vh;
  }
  .link1, .link2{
    height: 10vh;
  }